/* ========================= */
/*     VARIABLES             */
/* ========================= */

:root {
  --fondo: #0d0d0f;
  --fondo-secundario: #141418;
  --card: #1a1a20;

  --texto: #e6e6e6;
  --texto-secundario: #9a9a9a;

  --primario: #ff003c; 
  --secundario: #c92c2c;
  --terciario: #1d3a6d;

  --borde: #2a2a33;
  --hover: #1f1f27;

  --transicion: 0.25s ease;
}

/* ========================= */
/* RESET GENERAL             */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  color: var(--texto);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, .titulo-pagina {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  font-weight: 800;  
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
h2 {
  font-weight: 600;
}
h1, h2 {
  text-shadow: 0 0 10px rgba(255, 0, 60, 0.35);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primario);
  border-radius: 4px;
}

a {
  color: var(--secundario);
  text-decoration: none;
  transition: var(--transicion);
}


input, select, textarea {
  background: var(--fondo-secundario);
  border: 1px solid var(--borde);
  padding: 10px;
  border-radius: 6px;
  color: var(--texto);
  width: 100%;
  margin-bottom: 12px;
  transition: var(--transicion);
}
input:focus, textarea:focus, select:focus {
  border-color: var(--secundario);
}

button {
  background: var(--primario);
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transicion);
  font-weight: bold;
}
button:hover {
  background: var(--secundario);
}

/* ======================================= */
/* MODAL PARA CONFIRMAR ACCION DE ELIMINAR */
/* ========================================*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background: #0d0d0f;
  border: 2px solid #222;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.2);
}

.modal-container h2 {
  color: #fff;
  margin-bottom: 15px;
}

.modal-container p {
  color: #ccc;
  margin-bottom: 25px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons .btn {
  flex: 1;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: 0.2s;
}

.modal-buttons .cancelar {
  background: #1a1a1d;
  color: #87a0ff;
  margin-right: 10px;
}

.modal-buttons .cancelar:hover {
  background: #222;
}

.modal-buttons .eliminar {
  background: var(--primario);
  color: #fff;
  margin-left: 10px;
}

.modal-buttons .eliminar:hover {
  background: var(--secundario);
}